// Styles for the choreo editor

.choreo {

// vars

//	height: 100%;

	& {
		width: 100%;
		height: 100%;
		.display-flex;
		.flex-flow(column);
	}

	// first undo width/height 100% from html & body -- needed, it seems, to give the editor
	// a full-screen layout.

	.menu-bar-pane {
		width: 100%;
		height: @choreo-margin-width + @choreo-menu-bar-height;
		.flex(0, 1, @choreo-menu-bar-height);
		margin: 0em;
		.display-flex;
		.flex-flow(column);
	}

	.menu-bar {
		width: auto;
		height: @choreo-menu-bar-height;
		margin: 0em @choreo-margin-width;
		background-color: #aaaaaa;
		.flex(0, 1, @choreo-menu-bar-height);
	}

	.file-button {
		height: auto;
		width: auto;
		vertical-align: middle;
		margin: .3em 0em .3em .5em;
	}

	.language-button {
		height: auto;
		width: auto;
		vertical-align: middle;
		margin: .3em 0em .3em .5em;
	}

	// the region of editing panes/modules
	.container {
		width: 100%;
		margin: 0px;
		.flex(1, 0, auto);
		.display-flex;
		.flex-flow(row);
	}

	.left-column {
		width:20%;
		.flex(1, 0, auto);
		.display-flex;
		.flex-flow(column);
	}

	.middle-column {
		width: 45%;
		.flex(1, 0, auto);
		.display-flex;
		.flex-flow(column);
	}

	.right-column {
		width: 35%;
		.flex(1, 0, auto);
		.display-flex;
		.flex-flow(column);
	}

	// first column

	.layers-pane {
		width: auto;
		margin-left: @choreo-margin-width;
		.flex(15, 0, auto);
		.display-flex;
		.flex-flow(column);
	}

	.layers-pane-tabs {
		.flex(1, 0, auto);
	}

	.kit-pane {
		width: auto;
		margin-left: @choreo-margin-width;
		.flex(30, 0, auto);
		.display-flex;
		.flex-flow(column);
	}

	.kit-pane-content {
		.flex(1, 1, auto);
	}

	.gallery-pane {
		width: auto;
		margin-left: @choreo-margin-width;
		.flex(55, 0, auto);
		.display-flex;
		.flex-flow(column);
	}

	.gallery-pane-content {
		.flex(1, 1, auto);
	}

	.workspace-pane {
		width: auto;
		margin-left: @choreo-margin-width;
		.flex(1, 0, auto);
		.display-flex;
		.flex-flow(column);
	}

	.workspace-info-pane {
		.flex(0, 1, 3em);
	 	background-color: #999900;
	}

	.workspace-pane-content {
		.flex(1, 1, auto);
	}

	// third column

	.player-pane {
		width: auto;
		margin-left: @choreo-margin-width;
		margin-right: @choreo-margin-width;
		.flex(30, 0, auto);
		.display-flex;
		.flex-flow(column);
	}

	.player-pane-content {
		.flex(1, 1, auto);
		background-color: #000000;
		position: relative;
	}

	.properties-pane {
		width: auto;
		margin-left: @choreo-margin-width;
		margin-right: @choreo-margin-width;
		.flex(70, 0, auto);
		.display-flex;
		.flex-flow(column);
	}

	.properties-info-pane {
		.flex(0, 1, 3em);
	 	background-color: #999900;
	}

	.properties-pane-content {
		.flex(1, 1, auto);
	}

	.layer-item-template {

		width: 100%;

		a {
			display: block;
			position: relative;
			width: 100%;
			height: 1.8em;
			margin: .2em 0 0 0;
			background-color: @choreo-item-color-default;
			border: 1px solid @choreo-item-color-default;
			cursor: pointer;
			font-size: @choreo-font-size-normal;

			&:hover {
				border: 1px solid #ff0000;
				}

			img {
				width: 1.2em;
				height: 1.2em;
				margin: .3em .8em .3em .3em;
			}

			span {
				position: absolute;
				top: 50%;
				height: 1.8em;
				line-height: 1.8em;
				margin-top: -.9em;
				padding: 0;

				// display: relative;
				// top: 0em;
				//vertical-align: middle;
			//	line-height: 1.8em;
				// padding: 0em 0em .4em 0em;
			}			
		}			
	}

	.item-selected {
		a {
			background-color: @choreo-item-color-selected;
		}
	}	
}


// .item-selected {
// 	background-color: #00ffff;
// //	background-color: @choreo-item-color-selected ~'!important';
// 	border: 10px solid #00ff00 !important;
// }

.file-menu {
	position: absolute;
	top: -1000px;
}

.language-menu {
	position: absolute;
	top: -1000px;
}
